 <nav class="navbar bg-primary">
  <div class="container-fluid">
      <div class="navbar-brand d-flex align-items-center" href="#" >
     
   <div class="head" style="font-size: 30px;color:white;" >Dashboard</div> 
    </div>

    
    <form class="d-flex" >
    <%= link_to "Company", companies_path, class: "btn btn-success mx-2"%>
    </form>
  </div>
</nav>

<div class="d-flex flex-column justify-content-center align-items-center">

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR60UhmwrR-nveLjycF5Y6OZSAD1hxZj3s01g&usqp=CAU" style="width:40%">
</div>

